body {
    font-family: Arial, sans-serif;
    background-image: url(https://th.bing.com/th/id/OIP.95hzVl_5Wkg3qeKtt1v_6QHaEC?w=290&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
     
  h1 {
    text-align: center;
    height: 100px;
    text-shadow: #ccc;
    text-size-adjust: 50px;
    color: #21e7e7;
    margin-top: 100px;

  }
     
  #guess-input {
    display: block;
    margin: 0 auto 20px;
    padding: 10px;
    font-size: 18px;
    width: 250px;
    border: 1px solid #ccc;
  }
     
  #guess-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #0CBABA;
    color: #fff;
    border: none;
    border-radius: 3px;
  }
  
  #conten{
    background-color: #ae96ea;
    border-radius: 2px;
    margin-top: 200px ;
    margin-bottom: 150px;
    margin-left: 25%;
    margin-right: 25%;
    height: 500px;
    width: 50%;
    top: 20px;

  }
  button:active {
      transform: scale(0.95);
  }
     
  .letter {
      border: 1px solid black;
      padding: 10px;
      margin: 3px;
      min-width: 20px;
      text-align: center;
      display: inline-block
      mar
    
  }
     
  .row{
      margin-bottom: 10px;
  }
     
  .input-area{
      margin: 30px;
  }
  #grid{
    text-align: center;
    margin-top: 20px;
  }